/*===Desktop First===*/

/*Large Devices,Wide Screens*/
@media only screen and (max-width: 1500px) {
}

/*Large Devices,Wide Screens*/
@media only screen and (max-width: 1200px) {
    .layer-1 {
        background: url(img/pngwing.com.png) 150px 0px no-repeat;
        background-size: 450px 450px;
    }
    .main__text {
        font-size: 30px;
        margin: 0px 0px 500px 350px;
    }
    .description__form {
        margin-left: 150px;
        margin-top: 200px;
    }

    .form-button {
        margin-top: 10px;
    }
    .footer__text {
        font-size: 13px;
    }
}

/*Medium Devices,Desktops*/
@media only screen and (max-width: 992px) {
    .layer-1 {
        background: url(img/pngwing.com.png) 100px 0px no-repeat;
        background-size: 450px 450px;
    }
    header .menu__top li {
        margin: 0 20px;
    }
    #main .inner > .description {
        height: 410px;
    }
    .main__text {
        font-size: 28px;
        margin: 0px 0px 550px 300px;
    }
    .description__form {
        margin-left: 60px;
        margin-top: 150px;
    }
    .cvg__img {
        width: 450px;
        height: 450px;
    }
    input[type="text"] {
        width: 350px;
        height: 30px;
    }
    input[type="password"] {
        width: 350px;
        height: 30px;
    }
    .form-button {
        margin-top: 20px;
        width: 200px;
        height: 30px;
    }
    .footer__text {
        font-size: 12px;
    }
}
/*Small Devices,Tablets*/
@media only screen and (max-width: 768px) {
    header .menu__top li {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .layer-1 {
        background: url(img/pngwing.com.png) 80px 0px no-repeat;
        background-size: 300px 300px;
    }
    #main .inner > .description {
        height: 220px;
    }
    .main__text {
        font-size: 22px;
        margin: 0px 0px 630px 0px;
    }
    .cvg__img {
        display: none;
    }
    .description__form {
        margin: 0px 0px 500px 80px;
    }
    input[type="text"] {
        width: 250px;
        height: 20px;
        font-size: 12px;
    }
    input[type="password"] {
        width: 250px;
        height: 20px;
        font-size: 12px;
    }
    .form-button {
        margin: 20px 0px 0px 0px;
        font-size: 12px;
        width: 150px;
        height: 30px;
    }
    .description__slider {
        font-size: 12px;
    }
    .footer__text {
        font-size: 11px;
    }
}

/*Extra Small Devices,Pfones*/
@media only screen and (max-width: 480px) {
    .main__text {
        font-size: 18px;
        margin: 0px 0px 630px 0px;
    }
     .layer-1 {
        background: url(img/pngwing.com.png) 50px 0px no-repeat;
        background-size: 250px 250px;
    }
     #main .inner > .description {
        height: 220px;
    }
      .description__form {
        margin: 0px 0px 0px 30px;
    }
     .footer__text {
        font-size: 9px;
    }
     input[type="text"] {
        width: 230px;
        font-size: 11px;
    }
    input[type="password"] {
        width: 230px;
        font-size: 11px;
    }
    .form-button {
        margin: 20px 0px 0px 0px;
        font-size: 11px;
        width: 130px;
        height: 30px;
    }
    .description__slider {
        font-size: 11px;
    }
}

/*Custom,iPhone Retina*/
@media only screen and (max-width: 320px) {
}

/*===Mobile First===*/

/*Custom,iPhone Retina*/
@media only screen and (min-width: 320px) {
}

/*Extra Small Devices,Pfones*/
@media only screen and (min-width: 480px) {
}

/*Small Devices,Tablets*/
@media only screen and (min-width: 768px) {
}

/*Medium Devices,Desktops*/
@media only screen and (min-width: 992px) {
}
