/*===Desktop First===*/

@media (max-width: 1200px) {
    .price__item {
        max-width: 270px;
    }
    .price__top::after {
        border-left: 270px solid transparent;
    }
}
@media (max-width: 1000px) {
    .menu__logo-img {
        max-width: 250px;
    }
    .menu__list {
        flex-direction: column;
        font-size: 16px;
    }
    .hero__arrow-down {
        bottom: 300px;
    }
    #main {
        height: 100%;
    }
    .price__item {
        max-width: 200px;
    }
    .price__top::after {
        bottom: -292px;
        border-left: 200px solid transparent;
    }
}

@media (max-width: 800px) {
    .hero__arrow-down {
        bottom: 350px;
    }
    .price__top::after {
        bottom: -185px;
        border-left: 200px solid transparent;
    }
    .price__title {
        font-size: 20px;
    }
    .price__price {
        font-size: 40px;
    }
    .price__btn {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 770px) {
    .hero {
        padding: 10px 0;
    }
    .menu__list {
        font-size: 14px;
    }
    .hero__title {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .hero__subtitle {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .hero__btn {
        font-size: 16px;
        min-width: 150px;
    }
    .hero__arrow-down {
        bottom: 400px;
    }
    .h2 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .title__content {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .price__item {
        max-width: 150px;
    }
    .price__price {
        font-size: 30px;
    }
    .price__period {
        font-size: 14px;
    }
    .price__top::after {
        bottom: -196px;
        border-left: 150px solid transparent;
    }
    .price__btn {
        font-size: 16px;
        padding: 10px 10px;
    }
}

@media (max-width: 600px) {
    .menu__logo {
        min-width: 370px;
    }
    .menu__logo-img {
        max-width: 200px;
    }
    .hero__btn {
        padding: 15px 25px;
        min-width: 100px;
    }
    .hero__arrow-down {
        bottom: 500px;
    }
    .price__top::after {
        bottom: -99px;
        border-left: 150px solid transparent;
    }
    .price__options {
        font-size: 14px;
        max-width: 130px;
    }
}
@media (max-width: 470px) {
    .menu__logo {
        min-width: 270px;
    }
    .hero__title {
        font-size: 26px;
        margin-bottom: 5px;
    }
    .hero__subtitle {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .hero__btn {
        font-size: 16px;
        min-width: 80px;
        padding: 10px 20px;
        font-size: 12px;
    }
    .hero__arrow-down {
        bottom: 550px;
    }
}
@media (max-width: 360px) {
    .menu__logo {
        min-width: 200px;
    }
    .menu__logo-img {
        max-width: 150px;
    }
    .hero__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .hero__subtitle {
        flex-wrap: wrap;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .hero__btn {
        font-size: 16px;
        min-width: 50px;
        padding: 5px 15px;
        font-size: 10px;
    }
    .hero__arrow-down {
        bottom: 600px;
    }
}
