@import"zeroing.css";
.about {
	&__body {
		max-width: 823px;
		margin: 0px auto;
	}

	&__header {
		margin: 0px 0px 65px 0px;
	}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__text {
	}

	&__row {
		display: flex;
	}

	&__column {
	}
}
.title {
	font-family: serif;
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding: 0px 0px 30px 0px;
	&:after {
		content: "";
		position: absolute;
		width: 50px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0px 0px 0px -25px;
	}
}
.item-about {
	&__icon {
		margin: 0px auto;
		border-radius:50%;
		width: 92px;
		height: 92px;
		border:2px solid #f1f1f1;
		display:flex ;
		align-items:ctnter;
		justify-content:ctnter;
	}

	&__title {

	}

	&__text {
	}
}

.about {

		&__body {
		}

		&__header {
		}

		&__title {
		}

		&__text {
		}

		&__row {
		}

		&__column {
		}
}
.title {
}
.item-about {

		&__icon {
		}

		&__title {
		}

		&__text {
		}
}
